@use "./utils/mixins" as *;
@use "./utils/variables" as *;

.about {
  @include paddingInline;

  box-sizing: border-box;

  &__container {
    @include onMD {
      display: flex;
      justify-content: space-between;
    }
  }

  &__section {
    @include forSectionIntro;
  }

  &__profession {
    opacity: 0.4;
    text-transform: none;
  }

  &__title {
    @include forTitles;
  }

  &__sub-title {
    @include forHeaders;
    color: $secondTextColor;
    padding-bottom: 16px;

    @include onSM {
      font-size: 28px;
    }
  }

  &__introduction {
    @include forText;

    @include onSM {
      margin-top: 28px;
    }
  }

  &__bottom-container {
    margin-block: 60px;

    @include onMD {
      width: 750px;
    }

    @include onLD {
      width: 800px;
    }
  }
}
