.about {
  @include paddingInline;

  margin-block: 80px;
  box-sizing: border-box;

  &--container {
    @include onMD {
      display: flex;
      justify-content: space-between;
    }
  }

  &--section {
    @include forSectionIntro;
  }

  &--insp {
    opacity: 0.4;
    text-transform: none;
  }

  &--title {
    @include forTitles;
  }

  &--sub-title {
    @include forHeaders;
    color: $secondTextColor;

    @include onSM {
      font-size: 28px;
    }
  }

  &--introduction {
    @include forText;

    @include onSM {
      margin-top: 28px;
    }
  }

  &--bottom-container {
    @include onMD {
      width: 800px;
    }
  }
}
