.about {
  @include paddingInline;

  margin-block: 80px;
  box-sizing: border-box;

  &__container {
    @include onMD {
      display: flex;
      justify-content: space-between;
    }
  }

  &__section {
    @include forSectionIntro;
  }

  &__profession {
    opacity: 0.4;
    text-transform: none;
  }

  &__title {
    @include forTitles;
  }

  &__sub-title {
    @include forHeaders;
    color: $secondTextColor;

    @include onSM {
      font-size: 28px;
    }
  }

  &__introduction {
    @include forText;

    @include onSM {
      margin-top: 28px;
    }
  }

  &__bottom-container {
    @include onMD {
      width: 800px;
    }
  }
}
