@use "../styles/utils/variables" as *;
@use './utils/reset';

@use "./Header.scss";
@use "./MobileNav.scss";
@use "./Resume.scss";
@use "./Aside.scss";
@use "./DesktopNav.scss";
@use "./icons.scss";
@use "./logos.scss";
@use "./Carousel.scss";
@use "./Portfolio.scss";
@use "./Card.scss";
@use "./About.scss";
@use "./Skills.scss";
@use "./Skill.scss";
@use "./Contacts.scss";
@use "./Form.scss";
@use "./FormMessage.scss";
@use "./Footer.scss";

html {
  scroll-behavior: smooth;
  font-family: $mainFont;
  font-size: $myFontSize;
  font-weight: 400;
  color: $mainTextColor;
  overflow-x: hidden;
}

body {
  background-color: $mainBackgroundColor;
  overflow-x: hidden;

  &:has(.aside:target) {
    overflow: hidden;
  }
}
