@import "utils";

@import "./Header.scss";
@import "./MobileNav.scss";
@import "./Resume.scss";
@import "./Aside.scss";
@import "./DesktopNav.scss";
@import "./icons.scss";
@import "./logos.scss";
@import "./Portfolio.scss";
@import "./Card.scss";
@import "./About.scss";
@import "./Skills.scss";
@import "./Skill.scss";
@import "./Contacts.scss";
@import "./Form.scss";
@import "./FormMessage.scss";
@import "./Footer.scss";

html {
  scroll-behavior: smooth;
  font-family: $mainFont;
  font-size: $myFontSize;
  font-weight: 400;
  color: $mainTextColor;
}

body {
  background-color: $mainBackgroundColor;

  &:has(.aside:target) {
    overflow: hidden;
  }
}
