.card {
  width: 317px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  @include onSM {
    width: 696px;
    height: 577px;
  }

  &--image {
    width: 317px;
    height: 205px;
    border-radius: 16px;

    @include onSM {
      width: 696px;
      height: 500px;
    }
  }

  &--title {
    font-size: 19px;
    font-weight: 400;
  }

  &--list {
    &-item {
      display: inline;
      font-size: 11px;
      position: relative;
      padding-right: 10px;

      &:not(:first-child) {
        padding-left: 12px;
      }

      &:not(:first-of-type)::before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: $mainTextColor;
        display: block;
        top: calc(50% - 2px);
        left: 0;

        position: absolute;
      }
    }
  }

  &--overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($mainTextColor, 0.3);
  
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;

    top: 0;
    left: 0;
    right: 0;
    height: 205px;
    opacity: 0;

    @include hover(opacity, 1);
  }

  &--btn-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &--btn {
    @include forBtn;
    background-color: rgba($secondBackgroundColor, 0.6);

    @include hover(text-shadow, $secondTextColor 2px 2px 2px);
  }
}

.card--one {
  position: relative;
}

.card--overlay--one {
  position: absolute;

  &:hover {
    @include hover(opacity, 1);
  }
}

.card--two {
  position: relative;
}

.card--overlay--two {
  position: absolute;

  &:hover {
    @include hover(opacity, 1);
  }
}

.card--tree {
  position: relative;
}

.card--overlay--tree {
  position: absolute;

  &:hover {
    @include hover(opacity, 1);
  }
}

.card--four {
  position: relative;
}

.card--overlay--four {
  position: absolute;

  &:hover {
    @include hover(opacity, 1);
  }
}

.card--five {
  position: relative;
}

.card--overlay--five {
  position: absolute;

  &:hover {
    @include hover(opacity, 1);
  }
}

.card--six {
  position: relative;
}

.card--overlay--six {
  position: absolute;

  &:hover {
    @include hover(opacity, 1);
  }
}
