.card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-sizing: border-box;
  width: 100%;

  @include onSM {
    width: 90%;

    max-width: 696px;
  }

  @include onMD {
    width: 45%;
  }

  &--title {
    font-size: 19px;
    font-weight: 400;
  }

  &--list {
    &-item {
      display: inline;
      font-size: 11px;
      font-weight: 400;
      position: relative;
      padding-right: 10px;
      
      &:not(:first-child) {
        padding-left: 12px;
      }
      
      &:not(:first-of-type)::before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: $mainTextColor;
        display: block;
        top: calc(50% - 2px);
        left: 0;
        
        position: absolute;
      }
    }
  }

  &--image {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  &--overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: rgba($mainTextColor, 0.3);
    border-radius: 16px;
    box-sizing: border-box;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    @include hover(opacity, 1);
  }

  &--btn {
    @include forBtn;
    background-color: rgba($secondBackgroundColor, 0.6);
    @include hover(text-shadow, $secondTextColor 2px 2px 2px);
    text-align: center;
    width: 280px;

    &::after {
      right: calc(11% - 6px);
    }

    @include onSM {
      // width: 320px;

      &::after {
        right: calc(19% - 6px);
      }
    }
  }

  &--small {
    width: 528px;
  }

  &--big {
    width: 752px;
  }
}

@for $i from 1 through 6 {
  .card--#{$i} {
    position: relative;
  }

  .card--overlay--#{$i} {
    position: absolute;

    &:hover {
      @include hover(opacity, 1);
    }
  }
}
