.carousel {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;

  @include onMD {
    display: none;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: $mainTextColor;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__btn--prev {
    left: 0;
  }

  &__btn--next {
    right: 0;
  }

  &__card {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  &__img:hover {
    transform: scale(1.05);
  }
}
