@use "./utils/mixins" as *;
@use "./utils/variables" as *;

.carousel {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-block: 36px 60px;
  position: relative;

  @include onMD {
    display: none;
  }

  &__btn {
    top: 75%;
    transform: translateY(-50%);
    background-color: transparent;
    color: $mainTextColor;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    position: absolute;

    &:hover,
    &:active,
    &:focus {
      color: $secondTextColor;
      background-color: transparent;
    }
  }

  &__btn--prev {
    left: 0;
  }

  &__btn--next {
    right: 0;
  }

  &__card {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
}
