.contacts {
  background-color: $secondBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include paddingInline;
  padding-block: 40px;

  box-sizing: border-box;

  &--title {
    @include forTitles;
  }

  &--socials {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 24px;
  }

  &--list-item {
    display: flex;
    flex-direction: start;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-right: 10px;

    &:first-of-type {
      padding-right: 80px;
    }

    &:first-of-type::after {
      content: "";
      width: 4px;
      height: 4px;
      background-color: $mainTextColor;
      display: block;
      top: calc(50% - 2px);
      right: 38px;

      position: absolute;
    }
  }

  &--img {
    width: 24px;
    height: 24px;
  }

  &--link {
    display: inline-block;
    text-transform: uppercase;
    color: $mainTextColor;
    position: relative;

    @include forHoverLinks;
  }
}

