.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: 24px;
  padding-inline: 16px;
  box-sizing: border-box;

  margin-block: 100px;

  // @media (min-width: 601px) {
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: start;
  // }

  &--title {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid $mainTextColor;
    padding-bottom: 4px;
    width: fit-content;
    margin-bottom: 24px;
  }

  &--socials {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 80px;
    padding-top: 24px;
  }

  &--list-item {
    display: flex;
    flex-direction: start;
    align-items: center;
    gap: 10px;
  }

  &--img {
    width: 24px;
    height: 24px;
  }

  &--link {
    text-transform: uppercase;
    color: $mainTextColor;
  }
}

