.contacts {
  background-color: $secondBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include paddingInline;
  padding-block: 40px;
  box-sizing: border-box;

  @include onMD {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    align-items: start;
    padding-block: 0;
  }

  &__container {
    max-width: 700px;

    @include onMD {
      max-width: 600px;
      margin-top: 80px;
    }
  }

  &__title {
    @include forTitles;
  }

  &__description {
    font-size: 14px;
    line-height: 1.5;
    color: $mainTextColor;
    margin-top: 8px;
  }

  &__small-text {
    font-size: 12px;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 24px;
  }

  &__social-item {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-right: 10px;

    &:first-of-type {
      padding-right: 80px;
    }

    &:first-of-type::after {
      content: '';
      width: 4px;
      height: 4px;
      background-color: $mainTextColor;
      display: block;
      top: calc(50% - 2px);
      right: 38px;
      position: absolute;
    }
  }

  &__social-img {
    width: 24px;
    height: 24px;
  }

  &__social-link {
    display: inline-block;
    text-transform: uppercase;
    color: $mainTextColor;
    position: relative;

    @include forHoverLinks;
  }
}
