.nav {
  &--container {
    @include paddingInline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @include onSM {
      flex-direction: row;
    }

    @include onMD {
      justify-content: space-between;
    }
  }

  & > .resume_link--btn--nav {
    display: none;

    @include onMD {
      display: block;
    }
  }

  &--logo {
    padding-block: 24px;

    @include onSM {
      width: 218px;
      height: 20px;
    }

    @include onSM {
      width: 255px;
      height: 23px;

      padding-block: 25px;
    }

    @include onMD {
      padding-block: 40px;
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-block: 24px;

    @include onSM {
      flex-direction: row;
      gap: 37px;
      margin-top: 0;
    }

    @include onMD {
      gap: 57px;
    }
  }

  &--link {
    color: $mainTextColor;
    position: relative;

    @include forHoverLinks;
  }
}