.nav {
  &--container {
    @include paddingInline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @include onSM {
      flex-direction: row;
    }

    @include onMD {
      justify-content: space-between;
      // margin: 0 auto;
    }
  }

  &--logo {
    padding-block: 24px;

    @include onSM {
      width: 218px;
      height: 20px;
    }

    @include onSM {
      width: 255px;
      height: 23px;

      padding-block: 25px;
    }

    @include onMD {
      padding-block: 40px;
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-block: 24px;

    @include onSM {
      flex-direction: row;
      gap: 57px;
      margin-top: 0;
    }
  }

  &--link {
    color: $mainTextColor;
    position: relative;

    @include forHoverLinks;
  }

  &--btn {
    display: none;

    @include onMD {
      display: block;
      @include forBtn;
      width: 183px;
      padding: 20px 52px 20px 32px;

      &::after {
        right: calc(19% - 6px);
      }

      @include hover(border, 1px solid $secondTextColor);
      @include hover(text-shadow, $secondTextColor 2px 2px 2px);
    }
  }
}