.footer {
  background-color: $secondBackgroundColor;
  border-top: 1px solid rgba($mainTextColor, 0.3);

  &--link {
    color: $mainTextColor;
    // display: block;
    text-align: center;

    margin: 24px auto 40px;
  }
  
  .nav--btn {
      display: none;
  }
}