@use './utils/mixins' as *;
@use './utils/variables' as *;

.footer {
  background-color: $secondBackgroundColor;
  border-top: 1px solid rgba($mainTextColor, 0.3);
  padding-bottom: 20px;

  & .nav {
    display: block;
  }

  & .nav__list {
    flex-direction: row;
  }

  @include onSM {
    & .nav__container {
      flex-direction: row;
    }
  }

  &__link {
    color: $mainTextColor;
    text-align: center;

    @include paddingInline;
    margin: 24px auto 40px;

    @include onMD {
      padding-block: 40px;
    }
  }

  &__nav-btn {
    display: none;
  }
}
