.form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;

  margin-top: 24px;
  gap: 16px;

  @include onMD {
    margin: 80px 0;
    max-width: 550px;
  }

  &--field {
    color: #acacad;
    font-family: inherit;
    background-color: $mainBackgroundColor;
    border: 1px solid $mainBackgroundColor;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    outline: none;
  
    &:hover {
      border: 1px solid $secondTextColor;
      cursor: pointer;
    }

    &::placeholder {
      color: #acacad;
      font-family: inherit;
    }
  }

  &--textarea {
    resize: none;
    overflow: auto;

    &::placeholder {
      color: #acacad;
      font-family: inherit;
    }
  }

  &--btn {
    @include forBtn;
  
    @include hover(border, 1px solid $secondTextColor);
    @include hover(text-shadow, $secondTextColor 2px 2px 2px);
    
    &::after {
      right: calc(31% - 6px);
    }

    @include onSM {
      &::after {
        right: calc(39% - 6px);
      }
    }

    @include onMD {
      &::after {
        right: calc(33% - 6px);
      }
    }
  }
}
