.formMessage {
  padding: 14px 24px;
  text-align: center;
  color: $mainTextColor;
  background-color: $secondBackgroundColor;
  border: 1px solid $secondBackgroundColor;

  border-radius: 8px;
  z-index: 1000;
  top: 30%;
  left: 0;
  right: 0;
  
  position: absolute;

  &.err {
    border: 1px solid red;
  }

  &.success {
    border: 1px solid $secondTextColor;
  }
}
