.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-top: 24px;
  gap: 16px;

  &--field {
    color: #acacad;
    font-family: inherit;
    background-color: $mainBackgroundColor;
    border: 1px solid $mainBackgroundColor;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
  
    &:hover {
      border: 1px solid $secondTextColor;
      cursor: pointer;
    }

    &::placeholder {
      color: #acacad;
      font-family: inherit;
    }
  }

  // &--textarea {
  //   &::placeholder {
  //     color: #acacad;
  //     font-family: inherit;
  //   }
  // }

  &--btn {
    @include forBtn;
  
    @include hover(border, 1px solid $secondTextColor);
    @include hover(text-shadow, $secondTextColor 2px 2px 2px);
  }
}
