.header {
  .nav {
    display: none;

    @include onMD {
      display: block;
    }
  }

  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include paddingInline;

    margin-top: 60px;
    box-sizing: border-box;
  }

  &--title {
    font-size: 23px;
    font-weight: 400;

    @include onSM {
      font-size: 33px;
    }
  }

  &--position {
    font-size: 23px;
    font-weight: 400;
    color: $secondTextColor;

    @include onSM {
      font-size: 33px;
    }
  }

  &--greting {
    padding-top: 8px;

    @include onSM {
      font-size: 19px;
    }
  }

  &--image {
    width: 100%;
    height: 415px;
    background-image: url(../images/IMG_1644.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid $mainTextColor;
    border-radius: 24px;

    margin: 40px 0 80px;

    @include onSM {
      width: 100%;
      height: 568px;

      margin-bottom: 118px;
    }
  }
}
