.header {
  // max-width: 1260px;
  // margin: 0 auto;
  
  .nav--container {
    display: none;

    @include onMD {
      display: flex;
    }
  }

  &--btn {
    @include forBtn;
    padding: 20px 50px 20px 32px;

    margin-block: 24px;

    &::after {
      right: calc(19% - 6px);
      // padding: 0;
    }
  }

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include paddingInline;

    margin-top: 60px;
    box-sizing: border-box;

    @include onMD {
      flex-direction: row;
      margin-top: 0;
    }
  }

  &--introduse {
    max-width: 781px;
  }

  &--title {
    font-size: 23px;
    font-weight: 400;

    @include onSM {
      font-size: 33px;
    }
  }

  &--position {
    font-size: 23px;
    font-weight: 400;
    color: $secondTextColor;

    @include onSM {
      font-size: 33px;
    }
  }

  &--greting {
    padding-top: 8px;

    @include onSM {
      font-size: 19px;
    }
  }

  &--image {
    width: 100%;
    height: 415px;
    background-image: url(../images/IMG_1644.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid $mainTextColor;
    border-radius: 24px;
    box-sizing: border-box;

    margin: 40px 0 80px;

    @include onSM {
      width: 100%;
      height: 568px;

      margin-block: 120px;
    }

    @include onMD {
      max-width: 429px;
      height: 559px;

      margin-block: 120px;
    }
  }
}
