.logo {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;

  transition: 0.3s;
  
  &:hover {
    filter: drop-shadow(0 0 2em hsl(144, 7%, 13%));
    text-shadow: hsl(181, 52%, 27%) 2px 2px 2px;
  }

  &--author {
    background-image: url(../images/logos/logo-hombalevska.png);
    width: 185px;
    height: 17px;
  }
}

.logo--accessibility {
  background-image: url(../images/logos/accessibility.svg);
}

.logo--html5 {
  background-image: url(../images/logos/html.svg);
}

.logo--javascript {
  background-image: url(../images/logos/javascript.svg);
}

.logo--css3 {
  background-image: url(../images/logos/css.svg);
}

.logo--sass {
  background-image: url(../images/logos/sass.svg);
}

.logo--react {
  background-image: url(../images/logos/react.svg);
}

.logo--typescript {
  background-image: url(../images/logos/typescript.svg);
}

.logo--vs-code {
  background-image: url(../images/logos/visual-studio-code.svg);
}

.logo--node-js {
  background-image: url(../images/logos/nodejs.svg);
}

.logo--github {
  background-image: url(../images/logos/github.svg);
}

.logo--figma {
  background-image: url(../images/logos/figma.svg);
}

.logo--photoshop {
  background-image: url(../images/logos/photoshop.svg);
}

.logo--sql {
  background-image: url(../images/logos/sql.svg);
}

.logo--linkedin {
  background-image: url(../images/socials/socials-linkedin.svg);
  width: 100px;
  height: 30px;
}

.logo--contact-github {
  background-image: url(../images/socials/socials-github.svg);
  width: 80px;
  height: 30px;
}
