.logo {
  width: 57px;
  height: 57px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include hover(scale, 1.1);

  &--author {
    background-image: url(../images/logos/logo-hombalevska.png);
    width: 185px;
    height: 17px;

    @include onSM {
      width: 256px;
      height: 23px;
    }
  }

  &--accessibility {
    background-image: url(../images/logos/accessibility.svg);
  }

  &--html5 {
    width: 50px;
    background-image: url(../images/logos/html.svg);
  }

  &--css3 {
    width: 50px;
    background-image: url(../images/logos/css.svg);
  }

  &--javascript {
    width: 50px;
    background-image: url(../images/logos/javascript.svg);
  }

  &--sass {
    width: 75px;
    background-image: url(../images/logos/sass.svg);
  }

  &--react {
    width: 50px;
    background-image: url(../images/logos/react.svg);
  }

  &--typescript {
    background-image: url(../images/logos/typescript.svg);
  }

  &--vs-code {
    width: 59px;
    background-image: url(../images/logos/visual-studio-code.svg);
  }

  &--node-js {
    width: 93px;
    background-image: url(../images/logos/nodejs.svg);
  }

  &--github {
    width: 59px;
    background-image: url(../images/logos/github.svg);
  }

  &--figma {
    background-image: url(../images/logos/figma.svg);
  }

  &--photoshop {
    background-image: url(../images/logos/photoshop.svg);
  }

  &--sql {
    background-image: url(../images/logos/sql.png);
  }
}
