.mobile--nav {
  background-color: $secondBackgroundColor;
  padding-inline: 16px;
  box-sizing: border-box;

  &--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }

  @include onMD {
    display: none;
  }
}
