.mobile--nav {
  background-color: $secondBackgroundColor;
  padding-inline: 16px;
  box-sizing: border-box;

  &--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }

  // &--link {
  //   color: hsl(144, 8%, 87%);

  //   &:hover {
  //     color: hsl(144, 8%, 87%);
  //   }
  // }
}

/* .download-cont {
  position: relative;
} */
/* 
.download-resume::after {
  content: "Download";
  top: 0;
  left: 0;
  right: 0;
  color: hsl(144, 7%, 13%);
  background-color: hsl(144, 8%, 87%);
  box-sizing: border-box;
  border-radius: 5px;

  text-align: center;
  align-items: center;

  opacity: 0;
  display: none;
  position: absolute;
  transition: 0.3s;
} */

/* .download-resume:hover::after {
  opacity: 1;
  display: inline-block;
  text-shadow: none;
} */

/* @media screen and (min-width: 601px) {
  .nav--list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: hsl(181, 52%, 27%);
  }
  
  .nav--link {
    color: hsl(144, 8%, 87%);
  }
  
  .nav--link:hover {
    color: hsl(144, 8%, 87%);
    text-shadow: hsl(144, 7%, 13%) 1px 1px 1px;
  }
  
  .download-cont {
    position: relative;
  }

  .download-resume::after {
    content: "Download";
    top: 0;
    left: 0;
    right: 0;
    color: hsl(144, 7%, 13%);
    background-color: hsl(144, 8%, 87%);
    box-sizing: border-box;
    border-radius: 5px;
  
    text-align: center;
    align-items: center;
  
    opacity: 0;
    display: none;
    position: absolute;
    transition: 0.3s;
  }

  .download-resume:hover::after {
    opacity: 1;
    display: inline-block;
    text-shadow: none;
  }
} */