.portfolio {
  padding-inline: 16px;
  margin-block: 80px;

  &--section {
    @include forSectionIntro;
  }

  &--insp {
    opacity: 40%;
    text-transform: none;
  }

  &--title {
    @include forTitles;
  }

  &--card-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
    justify-content: start;
  }
}
