@use './utils/mixins' as *;
@use './utils/variables' as *;

.portfolio {
  @include paddingInline;
  margin-block: 40px;

  @include onMD {
    margin-block: 120px;
  }

  &__section {
    @include forSectionIntro;
  }

  &__insp {
    opacity: 0.4;
    text-transform: none;
  }

  &__filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
    box-sizing: border-box;

    @include onSM {
      flex-direction: row;
      align-items: center;
      margin-bottom: 40px;
    }

    @include onMD {
      gap: 0;
    }
  }

  &__btns-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    @include onSM {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__label {
    padding-right: 6px;
  }
  &__select {
    width: 125px;
    font-family: inherit;
    background: $secondTextColor;
    border-radius: 8px;
    padding: 2px;
  }

  &__select:focus {
    outline: none;
  }

  &__title {
    @include forTitles;
    margin: 0;

    @include onSM {
      margin: 0;
    }
  }

  &__card-container {
    display: none;

    @include onMD {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
