.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding-inline: 2em;
  margin-block: 80px;
}

.portfolio--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2em;

  color: hsl(144, 8%, 87%);
  background-color: hsl(181, 52%, 27%);
  border: 2px solid hsl(144, 7%, 13%);
  border-radius: 25px;
  padding: 15px;
}

@media screen and (min-width: 601px) {
  .portfolio {
    gap: 50px;
    margin-block: 100px;
  }
}