.resume_link--btn {
    @include forBtn;
    width: 183px;
    padding: 20px 52px 20px 32px;

    &::after {
      right: calc(19% - 6px);
    }

    @include hover(border, 1px solid $secondTextColor);
    @include hover(text-shadow, $secondTextColor 2px 2px 2px);
}