.skills {
  @include paddingInline;

  margin-block: 80px;

  &--section {
    @include forSectionIntro;
  }

  &--insp {
    opacity: 0.4;
    text-transform: none;
  }

  &--title {
    @include forTitles;
  }

  &--sub-title {
    font-size: 23px;
    font-weight: 400;
    color: $secondTextColor;
    margin-bottom: 24px;
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 17px;

    margin-bottom: 80px;

    @include onMD {
      gap: 40px 44px;
    }
  }
}
