$mainFont: "Space Mono", monospace;
$mainTextColor: #fefeff;
$secondTextColor: #dde08e;
$portfolioCodeColor: #38bdf8;

$mainBackgroundColor: #1e1e1e;
$secondBackgroundColor: #0b0d0c;
$myFontSize: 16px;
$myWidth: 680px;
